.todoContainer{
    width: 450px;
    background-color: rgb(230, 235, 235);
    min-height: 100vh;
    
    border: 1px solid gray;
    border-radius: 6px;
    position: relative;
}
h2{
    font-weight: bold;
}

button.btn.btn-danger.editDelete{
    padding: 1px 4px;
}

button.btn.btn-primary.editDelete {
    padding: 1px 5px;
}
td.text-center {
    padding: 5px 5px;
}

i.fas.fa-edit {
font-size: 20px !important;
}
.editDelete{
    color: white;
}

input#inputName,input#inputQuantity,input#inputPrice{
    background-color: #f1f5f5;
}

.showAlert{
    width: 250px ;
    height: 200px ;
    background-color: yellow ;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}